@import "~bootstrap/scss/bootstrap.scss";

body {

    .ReactModal__Overlay {
        background-color: rgba(0,0,0,0.5) !important;
        z-index: 1;

        .ReactModal__Content {
            background-color: transparent !important;
            border: none !important;
            display: inline-flex !important;

            .modal-custom {
                background-color: transparent !important;
                border: none !important;
                outline: none !important;
            }

        }
    }
}